In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("Datos_tienda.csv")

In [6]:
df

           Fecha  Productos  Ingreso  Tienda
0     01/01/2019         19     8936       1
1     02/01/2019         43     8765       1
2     03/01/2019         30     8235       1
3     04/01/2019         33     8556       1
4     05/01/2019         23     7511       1
...          ...        ...      ...     ...
5475  27/12/2021         15     9806       5
5476  28/12/2021         40     9320       5
5477  29/12/2021         42     5384       5
5478  30/12/2021         24     9925       5
5479  31/12/2021         24     7461       5

[5480 rows x 4 columns]